<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>

<!-- 

			<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
				<div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
					<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					<div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
				<div id="mce-responses" class="clear foot">
					<div class="response" id="mce-error-response" style="display: none;"></div>
					<div class="response" id="mce-success-response" style="display: none;"></div>
				</div>
			<div aria-hidden="true" style="position: absolute; left: -5000px;">
				/* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
				<input type="text" name="b_751afa0e2637361c3e5532882_a1fb96ac94" tabindex="-1" value="">
			</div>
				<div class="optionalParent">
					<div class="clear foot">
						<input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
						<p style="margin: 0px auto;"><a href="http://eepurl.com/iPv90c" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
					</div>
				</div>
			</div>
		</form> -->



			<form action="https://app.us17.list-manage.com/subscribe/post?u=751afa0e2637361c3e5532882&amp;id=a1fb96ac94&amp;f_id=0017eae3f0" method="POST">
				<!-- <div class="field half first">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div> -->
				<h3>Sign-up for email event reminders</h3>
				<div class="field">
					<label for="email">Email</label>
					<input type="email" name="EMAIL" id="email" />
					<div aria-hidden="true" style="position: absolute; left: -5000px;">
						/* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
						<input type="text" name="b_751afa0e2637361c3e5532882_a1fb96ac94" tabindex="-1" value="">
					</div>
				</div>
				<!-- <div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div> -->
				<ul class="actions">
					<li><input type="submit" value="Subscribe" class="special" /></li>
					<!-- <li><input type="reset" value="Clear" /></li> -->
				</ul>
			</form>
		</section>
		<section class="split">
			<!-- <section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="mailto:{{ site.email }}">{{ site.email }}</a>
				</div>
			</section> -->
			<!-- <section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<h3>Phone</h3>
					<a href="tel:{{ site.phone }}">{{ site.phone }}</a>
				</div>
			</section> -->
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Address</h3>
					<span>
					{% if site.street_address %}
					    {{ site.street_address }}<br />
					{% endif %}
					{% if site.city %}
					    {{ site.city }},
					{% endif %}
					{% if site.state %}
					    {{ site.state }} 
					{% endif %}
					{% if site.zip_code %}
					    {{ site.zip_code }}<br />
					{% endif %}
					{% if site.country %}
					    {{ site.country }}
					{% endif %}
					</span>
				</div>
			</section>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% for key_value in site.socials %}
					{% if key_value[1] %}
						<li>
							<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
								<span class="label">{{ key_value[0] }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
				<!-- <li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
				<li>Jekyll integration: <a href="https://github.com/andrewbanchich" target="_blank">Andrew Banchich</a></li> -->

			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
